@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: #750192;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 20px;
    
    background-color: #C9AEF1;
}
.container .card.active .content {
    height: auto;

}

.container .card.active .content::before {
    display: none;
}

.container .card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #a97fe7;
    border-right: 20px solid #a97fe7;
}

.container .card.active::before {
    border-top: 20px solid rgb(209, 178, 3);
    border-right: 20px solid rgb(209, 178, 3);
}

.container .card .icon {
    margin-bottom: 10px;
}

.container .card .icon img {
    max-width: 90px;
}

.container .card .content {
    position: relative;
    height: 215px;
    overflow: hidden;
}

.container .card .content::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #C9AEF1);
    
}

.container .card .content h3 {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}

.container .card .content p {
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.container .card .more{
    position: relative;
    padding: 10px 15px;
    background: #a97fe7;
    margin-top: 15px;
    display: inline-block;

    cursor: pointer;

    text-transform: uppercase;
    color: #750192;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
    text-decoration: none;

    width: 100%;
    text-align: center;
}

.container .card.active .more{
   background: rgb(209, 178, 3);
   color: #f4f4f4;
}

.container .card .more::before{
    content: 'Read more';
}

.container .card.active .more::before{
    content: 'Read less';
}

.container .icon {
    display: flex;
    justify-content: center;
}

.container .icon i {
    font-size: 70px;
    color: #a97fe7;
}